<%= form_with(model: worker) do |form| %>
  <% if worker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(worker.errors.count, "error") %> prohibited this worker from being saved:</h2>

      <ul>
        <% worker.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class='my-24 mx-96 text-gray-200'>
  <div class="field text-xl">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "p-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 border-gray-300 rounded-md", placeholder: "Name" %>
  </div>
  <div class="field text-xl">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "p-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 border-gray-300 rounded-md", placeholder: "Name" %>
  </div>
  
  <div class="field text-xl">
    <%= form.label :phone %>
    <%= form.text_field :last_name, class: "p-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 border-gray-300 rounded-md", placeholder: "Name" %>
  </div>
  
  <div class="field text-xl">
    <%= form.label :email %>
    <%= form.text_field :last_name, class: "p-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 border-gray-300 rounded-md", placeholder: "Name" %>
  </div>

  <div class="field text-xl">
    <%= form.label :worker_type %>
    <div class="flex justify-center p-2 text-black block w-full pl-7 pr-12 border-gray-300 rounded-md">
      <%= form.collection_select :worker_type, WorkerType.all, :id, :name %>
    </div>
  </div>
   
  

  <div class="actions">
    <div class="flex w-full">
      <%= form.submit "Dar de Alta Trabajador", :class=> "my-3 w-full flex justify-center py-2 px-4 border border-transparent text-xl font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"  %>
    </div>
  </div>
<% end %>

