<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Worker:</strong>
  <%= @appointment.worker_id %>
</p>

<p>
  <strong>Medical center:</strong>
  <%= @appointment.medical_center_id %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
